# Unique app name for containers, network, images
APP_NAME=prisma

# App local port
PORT=3005

# Database settings
DB_DATABASE=prisma
DB_USERNAME=prisma
DB_PASSWORD=password

# Setting for nginx-proxy
VIRTUAL_HOST=your-website.tld
LETSENCRYPT_HOST=your-website.tld
LETSENCRYPT_EMAIL=your-email@domain.tld


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

DATABASE_URL="mysql://${DB_USERNAME}:${DB_PASSWORD}@db:3306/${DB_DATABASE}"